

header {
    background-color: #ffffff;
    height:20px;

}

footer {
    background-color: #ffffff;
    height:20px;
    
}

.card {
    background-color: #fff;
    color:#282828;
    padding:2%;
    width:27%;
    margin:1%
}

.card img {
    margin-bottom:15px;
    width:100%;
    
}

.card__title {
    font-size: 14px;
}

.card__description {
    font-size: 12px;
}

.card-container {
    background-color: #C4C4C4;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width:768px) {
    .card {
        width:40%;
        
    }

    .card__title {
        font-size: 10px

    }
    .card__description {
        font-size:7px;

    }



}

@media (max-width:380px) {

    .card {
        width:100%;
        
    }

    .card__title,
    .card__description {
        display:none;
    }

}